@import "../../common-sass/styles.scss";

.cs-badge-section {
    background: $dark-purple
        radial-gradient(circle at 50% 50%, $purple 0%, $purple 80%, $dark-purple 80%, $dark-purple 100%);
    color: $white;
    text-align: center;
    padding: $gutter-width*2 0;
    h2 {
        margin:0 0 $gutter-width;
    }
    .badges {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        .badge {
            flex-basis: 80%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 50px;
            &:after {
                content: "";
                display: block;
                padding-bottom: 69.1%;
            }
        }
        @include bp(m) {
            flex-wrap: nowrap;
            width: 60%;
            .badge {
                flex-basis: 50%;
                &:first-child {
                    padding-right: 50px;
                }
                &:last-child {
                    padding-left: 50px;
                }
            }
        }
    }
}
