@import "../../common-sass/styles.scss";

.features-section.collaboration {
    text-align:center;
    
    @include bp(m) {
        margin-top:$gutter-width*2;
        max-width:1024px;
    }
    .features-top-tabs {
        
        &.desktop {
            display:none;
            @include bp(m) {
                display:flex;
                padding:$gutter-width 0;
            }
            .feature-tabs {
                flex-basis:30%;
                display:flex;
                flex-direction:column;
                button {
                    text-align:left;
                    text-indent:.5em;
                    flex-basis:100%;
                    cursor:pointer;
                    background:transparent;
                    border:none;
                    position:relative;
                    line-height:2;
                     border-bottom:4px solid transparent;
                     &:active, &:focus {
                         outline:none;
                     }
                         &:after {
                             display:none;
                            content:"";
                            width:0;
                            border:1.3em solid transparent;
                            border-left-color:$purple;
                            position:absolute;
                            right:0;
                            margin-right:-2.6em;
                            top:1px;
                        }                    
                    &.active {
                        background:$purple;
                        color:$white;
                        font-weight: bold;
                        &:after {
                            display:block;
                        }
                    }
                }
            }

            .view-pane {
                flex-basis:70%;
                display:flex;
                flex-direction: column;
                padding-top:$gutter-width/2;
                .thumb {
                    background-size:contain;
                    background-repeat:no-repeat;
                    background-position: center top;
                    width:80%;
                    margin-left:20%;
                    &:after {
                        content:"";
                        display:block;
                        padding-bottom:56.25%;
                    }
                }
                .copy {
                    width:80%;
                    margin-left:20%;
                    text-align:left;
                    min-height:12em;
                    p {
                        margin:0;
                    }
                }
            }
        }
        &.mobile {
            display:block;
            text-align:left;
            button {
                background:$purple;
                color:$white;
                border:none;
                outline:none;
                width:100%;
                text-align:left;
                line-height:3;
                border-bottom:1px solid $dark-purple;
                text-indent:$gutter-width/2;
                padding:0;
                &.active {
                     font-weight:bold;
                }
            }
            .mobile-tab {
                padding:0 $gutter-width/2;
                max-height:0;
                @include nice-transition();
                overflow: hidden;
                &.active {
                    max-height:1000px;
                    padding:$gutter-width/2 $gutter-width/2;
                }
                
            }
            img {
                max-width:100%;

            }
            @include bp(m) {
                display:none;
            }
        }
    }
}