@import "../../common-sass/styles.scss";

.testimonial-tab-block {
    label {
        width: 100px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        &.active {
            border-bottom: 3px solid $purple;
        }
    }
    .panels {
        display: flex;
        min-height: 400px;
        .left-pane,
        .right-pane {
            flex-basis: 50%;
        }
        .right-pane {
        }
    }
    .testimonial-tab-panel {
        width: 100%;
        left: 0 !important;
        opacity: 0;
        &.is-selected {
            opacity: 1;
            transition-duration: 2s;
        }
    }
    .tabs {
        button {
            width:150px;
            height:30px;
            border:none;
            background-position:center;
            background-size: contain;
            background-color:transparent;
            background-repeat: no-repeat;
            cursor: pointer;
            outline:none;
            &:active, &:focus {
                outline: none;
            }
        }
    }
    .flickity-slider {
        transform: none !important;
    }
}
