
@import "../../common-sass/styles.scss";
.bottom-cta {
    margin-top:50px;
    padding:50px 0;
    background-size:cover;
    background-repeat:no-repeat;
    .max-width {
        color:$white;
        text-align:center;
        h2 {
            font-size:2em;
        }
        .cta {
            display:block;
            color:$pink;
            font-weight:bold;
            margin-top:1em;
            &:hover {
                color:$white;
            }
        }
    }
}