@import "../../common-sass/styles.scss";

.developers-language-section {
    .icons {
        .icon {
            width:100px;
            padding-top:110px;
            background-size:85%;
            background-position:center top;
            background-repeat:no-repeat;
            display:inline-block;
            text-align: center;
        }
    }
}