@import "../../common-sass/styles.scss";

.home-silhouette {
    background: $black;
    color: $white;
    position: relative;
    padding: 100px 0;
    .max-width {
        position: relative;
        @include bp(m) {
            display: flex;
            justify-content: space-between;
        }
    }

    .silhouette {
        display: none;
        position: absolute;
        width: 50%;
        left: 25%;
        opacity: 0.5;
        top: 5%;
        bottom: 5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include nice-transition();
        @include bp(m) {
            display: block;
        }
    }
    .left-pane,
    .right-pane {
        margin-bottom:$gutter-width;
        @include bp(m) {
            flex-basis: 25%;
            margin-bottom:0;
            &:hover {
                .silhouette {
                    opacity: 1;
                }
            }
        }
    }
    .bg-main {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
