.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .button {
        margin: 0 auto $gutter-width/2;
        max-width: 300px;
    }

    @include bp(m) {
        display: block;
        margin: 0 -$gutter-width/2;
        .button {
            margin: 0 1em;
        }
        &.vertical {
            display: flex;
            margin: 0 auto;
            flex-direction: column;
        }
    }
}
.button,
a.button {
    @include nice-transition();
    display: inline-block;
    border-radius: 3px;
    background: $orange;
    color: $white;
    padding: 0 42px;
    line-height: 2.5;
    text-transform: uppercase;
    font-family: $header-font;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-align: center;
    font-size: 14px;
    outline: none;
    border: none;
    border: 3px solid transparent;
    &:focus {
        outline: none;
    }
    &:hover {
        border: 3px solid $orange;
        background: transparent;
        color: $white;
        font-weight: bold;
        text-decoration: none;
    }
    &.knockout {
        border: 3px solid $orange;
        background: transparent;
        &:hover {
            border-color: $white;
        }
    }
    &.hover-orange {
        &:hover {
            color: $orange;
        }
    }
}
.cta-link {
    color: $pink;
    line-height: 2.5;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    &:hover {
        color: $white;
    }
}
