@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "../../common-sass/styles.scss";
@import "./button";

body {
  font-family: $body-font;
  background: $body-bg-color;
  color: $body-text-color;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    color: $body-link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
p {
  font-size: 1.1em;
  line-height: 1.8;
}
main {
  display: block;
  @include bp(m) {
    font-size:1.5em;
  }
  
}
.max-width {
  max-width: 90%;
  margin: 0 auto;
  @each $bp-name, $bp-value in $bps {
    @if ($bp-name!= "xs") {
      @include bp($bp-name) {
        width: $bp-value;
      }
    }
  }
}
.interior {
  padding-top: 200px;
  text-align: center;
  background: black;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 30vh;
}
.centered {
  text-align: center;
}
