@import "../../common-sass/styles.scss";
@import "../../common-sass/third-party/swiper.scss";

$slide-transition: 8s;

.home-hero {
    position: relative;
    overflow: hidden;
    background:$dark-purple;
    .hero-content {
        padding: 125px 0 25px;
        position: relative;
        color: white;
        text-align: center;
        width: 80%;

        margin: 0 auto;
        z-index: 2;
        h1,
        p {
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        }
        h1 {
            font-weight: 700;
            line-height: 1.25;
        }
        p {
            margin: 20px 0 42px;
        }

        .buttons {
            max-width: 360px;
            width: 90%;
            a {
                display: block;
                margin: 0 0 1em;
                &.button {
                    display: inline-block;
                }
            }
        }
    }
    @include bp(m) {
        min-height: 740px;
        display:flex;
        align-items: center;
        .hero-content {
            max-width: 900px;
            padding:90px 0 0;
        }
    }
}
.bg-carousel-bucket {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: darken($purple, 60%);
    .bg-fader,
    .flickity-slider,
    .flickity-viewport,
    .bg-slide {
        height: 100% !important;
    }

    .bg-slide {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        @include nice-transition();
        transition-duration: $slide-transition;

        &:after {
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }
        &.is-selected {
            opacity: 1;
            transition-duration: $slide-transition/2;
        }
    }
    .flickity-slider {
        transform: none !important;
    }
    @include bp(m) {
        display: block;
    }
}
