@import "../../common-sass/styles.scss";
$slide-transition:8s;

.home-hero {
    position: relative;
    overflow: hidden;
    .hero-content {
        padding: 125px 0 25px;
        position: relative;
        color: white;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        h1,
        p {
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        }
        h1 {
            max-width: 620px;
            margin: 0 auto;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: 2.8px;
        }
        p {
            max-width: 560px;
            margin: 20px auto 42px;
        }
        a {
            display: block;
            margin: 0 0 1em;
            &.button {
                display: inline-block;
            }
        }
    }
}
.bg-carousel-bucket {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:darken($purple,60%);
    .bg-fader, .flickity-slider, .flickity-viewport, .bg-slide {
        height:100%!important;
    }

    .bg-slide {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        left: 0 !important;
        opacity: 0;
        @include nice-transition();
        transition-duration: $slide-transition;
        
        &:after {
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }
        &.is-selected {
            opacity: 1;
            transition-duration:$slide-transition/2;
        }
    }
    .flickity-slider {
        transform: none !important;
    }
}
