
@import "../../common-sass/styles.scss";
.home-animated-tabs {
    background:$off-white;
    padding:100px 0 50px;
    .tabs {
        display:flex;
        label, a {
            font-weight:bold;
            display:inline-block;
            padding:1em 1em .25em 0;
            margin-right:1em;
            cursor:pointer;
            color:$purple;
            text-decoration: none;
            &.active {
                border-bottom:3px solid $purple;
            }
        }
        a {
            color:$orange;
            &:hover {
                color:$pink;
            }
        }
    }
    .panels {
        .inner {
            display:none;
        }
        input[type="radio"] {
            display:none;
            &:checked {
                + .inner {
                    display:flex;
                }
            }
        }
    }
    .anim-tab-panel {
        .inner {
            padding:50px 0;
            .panel-text, .panel-image {
                flex-basis:40%;
            }
            .panel-image {
                flex-basis:60%;
                position:relative;
                height:100%;
                .static {
                    display:none;
                }
                .static, .animated {
                    width:100%;
                    background-size:contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:after {
                        content:'';
                        display:block;
                        padding-bottom:56.25%;
                    }
                }
            }
        }
    }
}