@import "../../common-sass/styles.scss";

.home-animated-tabs {
    background:$off-white;
    padding:100px 0 50px;
    .anim-tab-panel {
        width: 100%;
        left: 0 !important;
        opacity: 0;
        &.is-selected {
            opacity: 1;
            transition-duration: 2s;
        }
    }
    .flickity-slider {
        transform: none !important;
    }
    .tabs {
        label, a {
            font-weight:bold;
            display:inline-block;
            padding:1em 1em .25em 0;
            margin-right:1em;
            cursor:pointer;
            color:$purple;
            text-decoration: none;
            &.active {
                border-bottom:3px solid $purple;
            }
        }
        a {
            color:$orange;
            &:hover {
                color:$pink;
            }
        }
    }
    .panels {

    }
    .anim-tab-panel {
        width:100%;
        .inner {
            padding:50px 0;
            display:flex;
            .panel-text, .panel-image {
                flex-basis:40%;
            }
            .panel-text {
                h2, p {
                    padding:0 1em 0 0;
                }
                h2 {
                    margin-top:0;
                }
            }
            .panel-image {
                flex-basis:60%;
                position:relative;
                height:100%;
                .static {
                    display:none;
                }
                .static, .animated {
                    width:100%;
                    background-size:contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:after {
                        content:'';
                        display:block;
                        padding-bottom:56.25%;
                    }
                }
            }
        }
    }
}