@import "../../common-sass/styles.scss";

.features-icon-section {
    .buckets {
        .bucket {
            .inner {
                .icon {
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 0 auto;
                }

                p {
                    margin-bottom: 2em;
                }
                @include bp(xs) {
                    .icon {
                        float: left;
                    }
                    h3,
                    p {
                        padding-left: 110px;
                    }
                }
            }
        }
    }
    @include bp(m) {
        text-align: center;
        .buckets {
            text-align: left;
            display: flex;
            justify-content: space-between;
            .bucket {
                flex-basis: 30%;
                .inner {
                    padding: $gutter-width/2;
                    .icon {
                        float: none;
                    }
                    h3,
                    p {
                        padding: 0;
                    }
                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }
}
