@import "../../common-sass/styles.scss";

.features-icon-section {
    .max-width {
        padding:$gutter-width 0;
    }
    .buckets {
        .bucket {
            .inner {
                min-height:175px;
                vertical-align: middle;
                
                .icon {
                    
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 0 auto;
                }
                p,h3 {
                    text-align:center;
                }
                @include bp(xs) {
                    display:flex;
                align-items: center;
                    .icon {
                        flex:0 0 150px;
                    }
                    h3,
                    p {
                        flex:1 1 100%;
                        text-align: left;
                        padding-left:1em;
                    }
                }
            }
        }
    }
    @include bp(m) {
        text-align: center;
        .buckets {
            text-align: left;
            display: flex;
            flex-flow:row wrap;
            justify-content: space-between;
            margin:0 -25px;
            .bucket {
                flex-basis: 31%;
                &.up-4 {
                    flex-basis: 23%;
                }
                .inner {
                    display:block;
                    padding: $gutter-width/3;
                    .icon {
                        float: none;
                        width:150px;
                        height:150px;
                    }
                    h3,
                    p {
                        padding: 0;
                    }
                    h3 {
                        text-align: center;
                    }
                    p {
                        font-size:.9em;
                    }
                }
            }
        }
    }
}
