.bg-fader {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:0;
    overflow:hidden;
    &.fade-in {
        animation:1s fadeIn ease-in;
    }
    &.fade-out {
        animation:1s fadeOut ease-out;
    }
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        opacity: 0;
        z-index: 0;
        width:100%;
        background-size:cover;
        background-position:center top;
        background-repeat:no-repeat;
        &.incoming_slide {
          opacity: 1;
          z-index: 2;
          transition:opacity 12s ease-in;
        }
        &.old_slide {
          opacity: 1;
          z-index: 1;
        }
      }
}
@keyframes fadeIn {
    100% {
        opacity:.6;
    }
}
@keyframes fadeOut {
    100% {
        opacity:0;
    }
}