@import "../../common-sass/styles.scss";

.featured-customers {
    padding:0 0 $gutter-width*2;
    text-align: center;
    h2 {
        margin-bottom:$gutter-width;
    }
    .featured-tiles {
        @include bp(m) {
            display: flex;
            flex-wrap: wrap;
            .featured-customer-tile {
                flex: 0 1 33%;
                h3 {
                    text-transform: uppercase;
                    margin:25px 0 15px;
                    letter-spacing:1.5px;
                    font-size:16px;
                }
                .logo-line {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 80%;
                    margin:0 10% 25px;
                    //filter: grayscale(100%);
                    &:after {
                        content: "";
                        display: block;
                        padding-bottom: 14.7%;
                    }
                }
            }
        }
    }
}
