@import "../../common-sass/variables";
@import "../../common-sass/mixins";

header.page-header {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    .logo {
        flex-basis: 80%;
        a {
            display: block;
        }
        img {
            max-width: 250px;
        }
    }
    nav {
        //display: none;
        @include nice-transition();
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        z-index: 98;
        background: $dark-gray;
        color: $white;

        a {
            color: $white;
        }
        .col-left {
            display: none;
        }
        .admin-menu {
        }
        button {
            background: transparent;
            border: none;
            color: $white;
            border-bottom: 1px solid $white;
            display: block;
            padding: 0;
            margin-top: $gutter-width/2;
            line-height: 2;
            font-size: 1.2em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0 2em 50px;
            &.admin-menu {
                margin: 0;
                padding-top: 25px;
            }
            li {
                margin: 0;
                padding: 0;
                text-align: left;
                ul {
                    padding: 0;
                }
                a {
                    line-height: 2;
                    font-size: 1.2em;
                    white-space: nowrap;
                }
            }
        }
    }
    .nav-box {
        flex-basis: 20%;
        text-align: right;
    }
    .mobile-menu-toggle {
        // Hamburger Menu Styles
        z-index: 99;
        position: relative;
        transition: all 0.3s ease-in-out;
        border: none;
        background: transparent;
        padding-right: 2em;
        &:active,
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
        .line {
            width: 50px;
            height: 5px;
            background-color: $off-white;
            display: block;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            width: 70px;
            height: 70px;
            border: 5px solid transparent;
            top: calc(50% - 35px);
            left: calc(50% - 35px);
            border-radius: 100%;
            transition: all 0.3s ease-in-out;
        }
        &.is-active {
            transform: rotate(45deg) translateY(1em);
            .line {
                width: 35px;
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(1) {
                    transform: translateY(13px);
                }
                &:nth-child(3) {
                    transform: translateY(-13px) rotate(90deg);
                }
                &:before {
                    border: 5px solid #ecf0f1;
                }
            }
        }
    }
    @include bp(m) {
        top: $cta-bar-height;
        .logo {
            flex-basis: 20%;
        }
        .nav-box {
            flex-basis: 80%;
        }

        .admin-menu {
            display: none;
        }
        .mobile-menu-toggle,
        .btn-close {
            display: none;
        }
        .logo {
            flex-basis: 25%;
            img {
                max-width: 170px;
            }
        }

        // Desktop menu styles
        nav {
            transform: none;
            background: transparent;
            color: $black;
            width: auto;
            display: block;
            text-align: right;
            position: static;
            padding: 0;
            overflow-y: visible;
            a,
            button {
                padding: 0.25em 0.5em;
                margin: 0;
                line-height: 1.5;
                cursor: pointer;
                background: transparent;
                border: none;
                font-size: 1em;
            }
            ul {
                @include list-to-menu();
                padding: 10px;
                li {
                    position: relative;
                    .dropdown {
                        max-height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 2em;
                        width: 100%;
                        min-width: 200px;
                        box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
                        &.has-left {
                            min-width: 400px;
                            display: flex;
                            left: -200px;
                        }
                        .col-left {
                            display: block;
                            flex-basis: 50%;
                            background: $dark-gray;
                            color: $white;
                            flex-basis: 50%;
                            .thumb {
                                margin: 10px 10px 0;
                                &:after {
                                    content: "";
                                    display: block;
                                    padding-bottom: 56.25%;
                                }
                            }
                            p {
                                margin: 10px;
                                text-align: left;
                                color: $gray;
                                line-height: 1.2;
                            }
                            a {
                                display: block;
                                color: white;
                                text-align: center;
                            }
                        }
                        .col-right {
                            background: $white;
                            flex-basis: 50%;
                            text-align: left;
                            padding: 0;
                            ul {
                                display: block;
                                li {
                                    display: block;
                                    a {
                                        display: block;
                                        line-height: 1.5;
                                        font-size: 0.8em;
                                        color: $black;
                                        &:hover {
                                            background: $purple;
                                            color: $white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        .dropdown {
                            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
                            max-height: 500px;
                        }
                    }
                }
            }
        }
    }
}
//This may not belong here, as overlay can be triggered for other reasons. Should probably move to layout at some point.
#overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
// This is in a reverse media query so that the menu open state will not affect appearance when the control for it disappears.
@media only screen and (max-width: 1023px) {
    body.menu-open {
        overflow: hidden;
        #overlay {
            display: block;
        }
        .logo {
            opacity: 0;
        }
        header.page-header {
            nav {
                left: 10%;
                overflow-y: scroll;
            }
        }
    }
}
