@import "../../common-sass/variables";
@import "../../common-sass/mixins";

header.page-header {
    position: absolute;
    top: $cta-bar-height;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    .logo {
        flex-basis: 50%;
        img {
            max-width: 250px;
        }
    }
    nav {
        display: none;
    }

    @include bp(m) {
        .mobile-menu-toggle {
            display: none;
        }
        .logo {
            flex-basis: 25%;
            img {
                max-width: 170px;
            }
        }

        // Desktop menu styles
        nav {
            display: block;
            flex-basis: 75%;
            text-align: right;
            ul {
                @include list-to-menu();
                padding: 10px;
                li {
                    position: relative;
                    .dropdown {
                        max-height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 3em;
                        width: 100%;
                        min-width: 200px;
                        box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
                        &.has-left {
                            min-width: 400px;
                            display: flex;
                            left: -200px;
                        }
                        .col-left {
                            flex-basis: 50%;
                            background: $purple;
                            color: $white;
                            flex-basis: 50%;
                            .thumb {
                                margin: 10px 10px 0;
                                &:after {
                                    content: "";
                                    display: block;
                                    padding-bottom: 56.25%;
                                }
                            }
                            p {
                                margin: 10px;
                                text-align: left;
                                color: $gray;
                                line-height: 1.2;
                            }
                            a {
                                display: block;
                                color: white;
                                text-align: center;
                            }
                        }
                        .col-right {
                            background: $white;
                            flex-basis: 50%;
                            text-align: left;
                            padding: 0;
                            ul {
                                display: block;
                                li {
                                    display: block;
                                    a {
                                        display: block;
                                        line-height: 1.5;
                                        font-size: 0.8em;
                                        &:hover {
                                            background: $purple;
                                            color: $white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a,
                    button {
                        padding: 1em;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                    }
                    &:hover {
                        .dropdown {
                            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
                            max-height: 500px;
                        }
                    }

                }
            }
        }
    }
}
