@import "../../common-sass/styles.scss";

nav.sub-nav {
    background:$white;
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    &.pinned {
        position:fixed;
        width:100%;
        top:0;
        left:0;
        right:0;
        box-shadow:0 10px 20px rgba(0,0,0,0.3);
        z-index:99;
    }
    ul {
        display:none;
        @include list-to-menu();
        width:100%;

        li {
            margin-left:24px;
            a {
                line-height:2;
                display:block;
                border-bottom:4px solid transparent;
                margin-bottom:-4px;
                &:hover {
                    font-weight:bold;
                    color:$purple;
                    border-bottom:4px solid $purple;
                }
            }
        }
        @include bp(m) {
            display:flex;
            justify-content: flex-end;
        }
    }
}