@import "../../common-sass/styles.scss";

.dev-testimonial-block {
    padding: $gutter-width 0;
    .logo-slide {
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        width: 33%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
        &:after {
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }
        &.active {
            opacity: 1;
        }
    }
    .logo-carousel {
        width: 50%;
        margin: 0 25%;
    }
    .quote-carousel {
        width: 50%;
        margin: 0 25%;
    }
    .testimonial {
        display:block;
        min-height:200px;
        width: 100%;
    }
}
