@import "../../common-sass/styles.scss";

footer.page-footer {
    padding:100px 0;
    position:relative;
    .inner {
        font-size:17px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        .column {
            flex-basis:33%;
            &.logo {
                img {
                    max-width:75%;
                }
            }
            a {
                display:block;
                text-decoration:none;
                padding:.5em 0;
                &:hover {
                    text-decoration:underline;
                }
            }
            h2 {
                font-size:1em;
                font-family:$nav-font;
                font-weight:bold;
                margin-top:.5em;
            }
            .social-menu {
                @include list-to-menu();
                li {
                    padding-right:1em;
                    a {
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }
            }
            @include bp(m) {
                flex:0 1 200px;
            }

        }
        &.bottom {
            border-top:1px solid $black;
            justify-content:flex-end;
            padding:$gutter-width;
            margin-top:$gutter-width;
            .bottom-utility-links {
                
                @include list-to-menu();
                display:inline-block;
                li {
                    padding-left:1em;
                }
            }
        }
    }


}