@import "../../common-sass/styles.scss";

footer.page-footer {
    padding:100px 0;
    position:relative;
    .inner {
        font-size:17px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        .column {
            flex-basis:33%;
            &.logo {
                img {
                    max-width:75%;
                }
            }
            a {
                display:block;
                text-decoration:none;
                padding:.5em 0;
                &:hover {
                    text-decoration:underline;
                }
            }
            h2 {
                font-size:1em;
                font-family:$nav-font;
                font-weight:bold;
                margin-top:.5em;
            }
            @include bp(m) {
                flex:0 1 200px;
            }
        }
    }
}