@import "../../common-sass/styles.scss";

.cs-commitment-section {
  background: $dark-purple;
  color: $white;
  padding: $gutter-width*2 0;
  overflow: hidden;
  .bg {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    width: 40%;
    margin-top: -475px;
    height: 800px;
    float: right;
    z-index:0;
    @include bp(m) {
      width:400px;
    }
  }
  .dots {
    position: relative;
    height: 50px;
    padding-top: 100px;
    margin-right:150px;
    background-repeat:repeat-x;
    background-size:100px;
    background-position: center right;
    .rect {
      width: 100%;
      height: 100%;
    }
    @include bp(m) {
      background-size:150px;
    }
  }
  h3,
  p,
  li {  
    @include bp(m) {
      max-width: 60%;
    }
  }
  h2,
  h3,
  p {
    margin: $gutter-width/2 0 0;
    @include bp(m) {
      margin: $gutter-width 0 0;
    }
  }
  h3 {
    color: $orange;
    font-size:24px;
    @include bp(m) {
      font-size:40px;
    }
  }
  p {
    font-size:18px;
    @include bp(m) {
      font-size:30px;
    }
  }
  li {
    font-size:16px;
    @include bp(m) {
      font-size:20px;
    }
  }
  .cs-commit-bucket {
    clear: none;
  }
  ul {
    position: relative;
    z-index:1;
    list-style: none;
    padding: 0;
    border-left: 5px solid $orange;
    margin-top:$gutter-width/2;
    li {
      margin-left: 0;
      padding: 0 15% $gutter-width/2 1.5em;
      &:last-child {
        padding-bottom: 0;
      }
    }
    @include bp(m) {
      margin-top:$gutter-width;
    }
  }
}
