@import "../../common-sass/styles.scss";
@import "../../common-sass/third-party/swiper.scss";

.carousel {
    .swiper-slide {
        width: 16.6%;
    }
    .thumb {
        
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        &:after {
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }
        @include bp(m) {
            background-size: 50%;
            height:77px;
            &:after {
                padding-bottom:0;
            }
        }
    }
}
