@import "../../common-sass/styles.scss";
@import "../../../node_modules/flickity/dist/flickity.css";

.carousel {
    .thumb {   
        width:16.6%;     
        background-size:70%;
        background-repeat:no-repeat;
        background-position:center center;
        &:after {
            content:'';
            display:block;
            padding-bottom:56.25%;
        }
    }
}