@import "../../common-sass/styles.scss";

.recommended-resources {
    padding-top: 50px;
    .max-width {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .ebook,
        .gartner,
        .blog {
            display: flex;
            flex-basis: 100%;
            margin:1em auto;
            justify-content: space-between;
            font-size: 0.8em;
            .image-pane {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            @include bp(m) {
                box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.25);
                @include nice-transition();
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
        .ebook {
            display: flex;
            .image-pane {
                flex-basis: 42.5%;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }
            .text-pane {
                flex-basis: 52.5%;
                h2,
                p {
                    padding-right: 1em;
                }
            }
            @include bp(m) {
                flex-basis: 50%;
            }
        }
        .gartner {
            color: $white;
            text-align: center;
            justify-content: center;
            align-items: center;
            h2 {
                flex-basis: 80%;
            }
            &:hover {
                color: $gray;
            }
            &:after {
                content:"";
                display:block;
                padding-bottom:26.25%;
            }
            @include bp(m) {
                flex-basis: 45%;
            }
        }
        .blog {
            .image-pane {
                flex-basis: 70%;
            }
            .text-pane {
                flex-basis: 27.5%;
            }
            @include bp(m) {
                flex-basis: 50%;
                margin-top: 2.5%;
                flex-basis: 97.5%;
            }
        }
    }
}
