@import "../../common-sass/styles.scss";

.video-section {
    text-align: center;
}
.wrapper-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    embed,
    iframe,
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }